.page{
    text-align: center;
}

h1{
    color:rgb(157, 255, 0);
    text-align: center;
    font-size: xx-large;
}

p{
    color: black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h2, ul, h3{
    color:red;
    text-align: center;
}

ul, li, a {
    color:black;
}

ul li{
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    margin:0px;
}