header{
    border: solid black;
    background-color: red;
}

body{
    background-color: yellow;
}

p{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

ol{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}