body{
    background-image: url('brachiosaurus.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 p{
    text-align: left;
    text-align: center;
}

