h1{
    color:rgb(157, 255, 0);
}

p, h2, ul{
    color:red;
}



html{
background-image: url('230314153048-02-dinosaur-record-long-neck.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}