h1{
    text-align: center;
    color: blue;
}

.Stuff{
    display: flex;
    height:200px;
    width:200px;
}

.Dinosaurs .Space{
    font-size: 200px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 75px;
    grid-template-areas: 
    "header header header header"
    "dino dino space space"
    "books books movies movies"
    "footer . . .";
}

.space{
    grid-area: space;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
}

.dinosaurs{
    grid-area: dino;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
}

.books{
    grid-area: books;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
}

.movies{
    grid-area: movies;
    margin-left:auto;
    margin-right: auto;
    font-size: 75px;
}

h1{
    grid-area: header;
}

footer{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}