h1{
    color:rgb(157, 255, 0);
}

p, h2, ul{
    color:red;
}

ul li a {
    color:floralwhite
}

ul li a visited {
    color:fuchsia
}

body{
background-image: url('230314153048-02-dinosaur-record-long-neck.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}