body{
    background-image: url('tyrex.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:scroll;
}

h1 p {
    text-align: center;
}

h1{
    color:rgb(248, 210, 107);
}

p{
    color:azure;
}