body{
    background-image: url('/Dinosaurs/Brachiosaurus/brachiosaurus.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 p{
    text-align: center;
}

footer{
    display:flex;
    flex-direction: column;
    align-content: center;
}