

h1{
    text-align: center;
    color:red;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    text-align: center;
    color:black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin:0;
    padding:0;
}

.background-image{
    background-image: url("utahraptor-at-dawn.96b65a.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}