h1{
    align-items: center;
    color:red;
}

p{
    align-items: center;
    color:black;
}

*{
    margin:0;
    padding:0;
}

.background-image{
    background-image: url("File\ Raptor_Red_with_family.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
}