body{
    background-image: url("/Dinosaurs/Iguanodon/Iguanodon2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    margin:0;
    padding:0;
    border: solid black;
}