h1 p{
    color:aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
}

*{
    margin:0;
    padding:0;
}

.background-image{
    background-image: url("allosaurus.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
}

.details {
    height: 200px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}