
.class details {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color:red;
}

p{
    text-align: center;
    color:black;
}

*{
    margin:0;
    padding:0;
}

/*.background-image{
    background-image: url("utahraptor-at-dawn.96b65a.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}*/

.logo{
    width:500px;
    height: 500px;
    max-width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    margin:0;
    padding:0;
    border: solid black;
}