body{
    background-image: url('triceratops.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: white;
    align-items: center;
    height:400px;
    Width:200px;
}

h1{
    align-items: center;
    color:brown;
}

footer{
    display:flex;
    flex-direction: column;
    align-content: center;
}