.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: auto;*/
    grid-template-areas: 
    "header header header header"
    "title title title title"
    ". earth earth ."
    "footer . . .";
}

.navigation{
    grid-area: header;
}

.title{
    grid-area: title;
}

.earth{
    grid-area: earth;
}

header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 5;
}

/*
body{
    background-image: url('Earth.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

footer{
    display:flex;
    flex-direction: column;
    align-content: center;
}