.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h2, ul{
    color: white;
}

body{
    background-color: black;
}

header, footer{
    color:white;
}

a:link{
    color: silver;
}

a:visited{
    color: orange;
}

a:hover{
    color:pink;
}

a:active{
    color:aqua;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    margin:0;
    padding:0;
    border: solid black;
}