

body{
    background-image: url('/Dinosaurs/Brontosaurus/bronto.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}